body {
  margin-left: 300px;
  background-color: #ffcc99;
}
p {
  color: green;
}
#para1 {
 color: red; 
}
#para2 {
 color: red; 
}
ul.navbar {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 150px;
  list-style-type: none;
}


