body {
  margin-left: 300px;
  background-color: #ffcc99;
}
p {
  color: green;
}
#para1 {
 color: red; 
 font-size: 26px;
}
#para2 {
 color: red;
 font-size: 20px; 
}
ul.navbar {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 227px;
  list-style-type: none;
}
ul.navbar li {
  margin: 5px 0;
  padding: 5px;
  border-right: 1px solid #17252a;
  border-top: 1px solid #17252a;
  border-left: 10px solid #17252a;
  border-bottom: 1px solid #17252a;
}

a:link {
  color: blue;
}

a:visited {
  color: white;
}
#catty {
	text-align: right;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
#catim {
	border: none;
}
#titlecat {
	 color: black;
 font-size: 16px; 
}
#foldex {
	 color: black;
 font-size: 16px; 
}
#scottish{
	 color: black;
 font-size: 16px; 
}
#york{
	 color: black;
 font-size: 16px; 
}
#bengal{
	 color: black;
 font-size: 16px; 
}
